html {
  min-height: 1000px;
  font-family: 'helvetica neue';
  background: #c31432;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #240b36, #c31432);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #240b36, #c31432);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  color: #fff;
  padding: 10px;
  display: inline-block;
}

.box {
  max-width: 80%;
  margin: 50px auto;
  border-radius: 5px;
  box-shadow: 8px 8px 20px -1px rgba(0.3, 0.3, 0, 0.8);
}

#heading {
  background: #373B44;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #4286f4, #373B44);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #4286f4, #373B44);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
}

.item {
  min-height: 4x0px;
  display: inline-flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #ffccff;
}

form {
  display: inline-flex;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #3399ff;
  color: #99ff33;
  font-size: 30px;
  padding-bottom: 3px;
  margin-right: 2px;
  border-width: 0;
}

input[type="button"] {
  text-align: center;
  height: 25px;
  border-radius: 20%;
  font-size: 14px;
  font-weight: 200;
  display: block;
  opacity: 0.6;
  font-family: serif;
  position: absolute;
  right: 220px;
}

.homeform {
  left: 12%;
}

.reminder {
  left: 45%;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  color: #ffccff;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #A683E3;
}

footer {
  color: #99ff99;
  text-align: center;
}
